<section class="form-section mt-3 p-3">
  <h4 class="mt-4 mb-4">{{ title }}</h4>
  <hr />
  <form [formGroup]="form" (ngSubmit)="submit(form)">
    <section class="row">
      <section class="form-group {{ control.bsCols }}" *ngFor="let control of config">
        <label *ngIf="control.visible == true" for="{{ control.key }}">
          <span *ngIf="!control.label">
            {{ control.key | titlecase }}
          </span>
          <span *ngIf="control.label">
            {{ control.label }}
          </span>
        </label>
        <ng-container *ngIf="control.visible == true">
          <ng-container [ngSwitch]="control.type">
            <input *ngSwitchCase="'text'" [type]="control.type" [(ngModel)]="control.defaultValue"
              [formControlName]="control.key"
              [class.input-error]="form.get(control.key).touched && form.get(control.key).invalid" class="form-control" />
            <input *ngSwitchCase="'date'" [type]="control.type" [(ngModel)]="control.defaultValue"
              [formControlName]="control.key"
              [class.input-error]="form.get(control.key).touched && form.get(control.key).invalid" class="form-control" />
            <input *ngSwitchCase="'password'" [type]="control.type" [formControlName]="control.key"
              [class.input-error]="form.get(control.key).touched && form.get(control.key).invalid" class="form-control" />
              <!-- {{ control | json  }} -->
            <select *ngSwitchCase="'dropdown'" class="form-select" [formControlName]="control.key" [(ngModel)]="control.defaultValue">
              <option value="" selected>Select</option>
              <option *ngFor="let option of control.options" [value]="option.key">{{ option.value }}</option>
            </select>
            <textarea *ngSwitchCase="'textarea'" cols="30" rows="10" formControlName="{{ control.key }}"
              [(ngModel)]="control.defaultValue" id="{{ control.key }}"
              [class.input-error]="form.get(control.key).touched && form.get(control.key).invalid" class="form-control">
            </textarea>
            <section *ngSwitchCase="'checkbox'">
              <section *ngFor="let option of control.options">
                <label>
                  <input type="checkbox" [formControlName]="control.key" [value]="option.value">
                  {{ option.key }}
                </label>
              </section>
            </section>
            <section *ngSwitchCase="'radio'">
              <section *ngFor="let option of control.options">
                <label for="gender">
                  <input type="radio" name="{{ control.key }}" [formControlName]="control.key"  [value]="option.value" [checked]="option.value == control.defaultValue" class="radio-form">
                  {{ option.key }}
                </label> 
              </section>
            </section>
          </ng-container>
        </ng-container>
        <section *ngIf="form.get(control.key).touched && form.get(control.key).invalid">
          <section *ngFor="let v of control.validators">
            <section class="mt-2 alert alert-danger"
              *ngIf="form.get(control.key).errors.required && (v.key === 'required')">{{
              v.message }}
            </section>
            <section class="mt-2 alert alert-danger" *ngIf="form.get(control.key).errors.email && (v.key === 'email')">{{
              v.message }}
            </section>
            <section class="mt-2 alert alert-danger"
              *ngIf="form.get(control.key).errors.minlength && (v.key === 'minlength' || v.key === 'minLength')">{{
              v.message }}
            </section>
            <section class="mt-2 alert alert-danger"
              *ngIf="form.get(control.key).errors.maxlength && (v.key === 'maxlength' || v.key === 'maxLength')">{{
              v.message }}
            </section>
            <section class="mt-2 alert alert-danger"
              *ngIf="form.get(control.key).errors.pattern && (v.key === 'pattern')">{{
              v.message }}
            </section>
          </section>
        </section>
      </section>
    </section>
    <hr />
    <button type="submit" class="btn btn-primary mt-2 mb-4" [disabled]="form?.invalid">Submit</button>
  </form>
</section>
