.navbar {
    padding-top: 16px;
    padding-bottom: 16px;
}
.nav-link.active {
    margin-left: 12px;
    border-bottom:3px solid rgba(0, 0, 0, 0.404);
}
.form-control {
    width: 320px;
    margin-left: 20px;
}


:host ::ng-deep #navbarSupportedContent > ul.navbar-nav.me-auto.mb-2.mb-lg-0 > li:nth-child(6) > input {
    background-color: #4f4f4f;
    color: #fdfdfd;
}