.navbar {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 13px;
    background-color: white !important;
    border-bottom: 1px solid #ededed;
    box-shadow: 0 1px 5px #ededed;
}
.navbar-brand {
    font-size: 13px;
    font-weight: bold;
    color: red;
}
.nav-link.active {
    margin-left: 14px;
    font-weight: bold;
    font-size: 15px;
    /* border-bottom:1px solid rgba(255, 255, 255, 0.638); */
}
.form-control {
    width: 230px;
    margin-left: 20px;
    height: 28px;
    font-size: 13px;
    margin-top: 4px;
}
:host ::ng-deep #navbarSupportedContent > ul.navbar-nav.me-auto.mb-2.mb-lg-0 > li:nth-child(6) > input {
    background-color: #4f4f4f;
    color: #fdfdfd;
}
#auth-options {
    margin-left: -75px;
}
/* #search-option {    
    background-color: black;
    color: #fff;
    border: 1px solid #373636;
} */
#search-option::placeholder {
    color: #707070;
  }