<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home"><i class="bi bi-alexa"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" ></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false"><i class="bi bi-people-fill"></i> Resources</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/students">Students</a></li>
            <li><a class="dropdown-item" routerLink="/teachers">Teachers</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/certificates"> <i class="bi bi-card-checklist"></i> Certificates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/reports">
            <i class="bi bi-graph-up"></i> Reports
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page">
              <i class="bi bi-bell-fill"></i>
          </a>
        </li>
        <li class="nav-item">
          <input type="text" placeholder="Search for students, teachers..." class="form-control">
      </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/settings"><i class="bi bi-gear-wide-connected"></i> Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/auth/manage">Rehan Shah</a>
          </li>
        </ul>
    </div>
  </div>
</nav>