<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <section class="container-fluid">
    <a class="navbar-brand" routerLink="/home"><i class="bi bi-alexa"></i> iSchool<strong>365</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <section class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="!authService.isloggedIn()" class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <ul *ngIf="authService.isloggedIn()" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-people-fill"></i> Manage Students
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/students">Students</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/student/enrollments">Students Enrollments</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <!-- <li><a class="dropdown-item" routerLink="/students">Students Fee Payments (pending)</a></li>
            <li><a class="dropdown-item" routerLink="/students">Add Students Fee Payments (pending)</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/students">Students Required Fee Info (pending)</a></li>
            <li><a class="dropdown-item" routerLink="/students">Add Students Required Fee Info (pending)</a></li> -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="bi bi-people-fill"></i> Manage Teachers
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/teachers">Teachers</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/teachers">Teachers Classes Assigned Info (pending)</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/teachers">Add Teachers Classes Assigned Info (pending)</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <!-- <li><a class="dropdown-item" routerLink="/teachers">Teachers Required Salary Info (pending)</a></li>
            <li><a class="dropdown-item" routerLink="/teachers">Add Teachers Required Salary Info (pending)</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/teachers">Teachers Salary Payments (pending)</a></li>
            <li><a class="dropdown-item" routerLink="/teachers">Add Teachers Salary Payments (pending)</a></li> -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-card-checklist"></i> Manage Data
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/grades">Grades</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/subjects">Subjects</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/certificates">Certificates</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/time-tables">Time-Tables</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-card-checklist"></i> Manage Exams
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/exam-types">Types</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/exams">Exams</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/results/exams">Results</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/reports">
            <i class="bi bi-graph-up"></i> RTS Reports
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/notifications">
            <i class="bi bi-bell-fill"></i> Notifications
          </a>
        </li>
        <li class="nav-item">
          <input id="search-option" type="text" placeholder="Search..." class="form-control">
        </li>
      </ul>
      <ul *ngIf="authService.isloggedIn()" class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-gear-wide-connected"></i> {{ authService.getLoggedInUser().username }}
          </a>
          <ul id="auth-options" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/auth/change/password">Change Password</a></li>
            <li><a class="dropdown-item" routerLink="/auth/manage">Manage Users</a></li>
            <li><a class="dropdown-item" (click)="authService.logOut()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </section>
</nav>