table {
    font-size: 13px;
}
.border-left-active {
        border-left: 5px solid green;
}
.border-left-not-active {
    border-left: 5px solid red;
}
.thead-border-top {
    border-top: 5px solid #dee2e6;
}
.th-border-left {
    border-left: 5px solid #dee2e6;
}
.th-border-right {
    border-right: 5px solid #dee2e6;
}
.td-border-right {
    border-right: 5px solid #dee2e6;
}