<hr />
<form [formGroup]="form">
    <div *ngFor="let control of formData.controls">
      <label [for]="control.name">{{ control.label }}</label>
      <div [ngSwitch]="control.type">
        <input *ngSwitchCase="'text'" [type]="control.type" [formControlName]="control.name">
        <textarea *ngSwitchCase="'textarea'" [formControlName]="control.name"></textarea>
        <div *ngSwitchCase="'checkbox'">
          <input [type]="control.type" [formControlName]="control.name"> {{ control.label }}
        </div>
        <div *ngSwitchCase="'radio'">
          <div *ngFor="let option of control.options">
            <input [type]="control.type" [value]="option.value" [formControlName]="control.name"> {{ option.label }}
          </div>
        </div>
      </div>
      <div *ngIf="form.get(control.name).invalid && (form.get(control.name).dirty || form.get(control.name).touched)">
        <div *ngIf="form.get(control.name).errors.required">{{ control.label }} is required.</div>
        <div *ngIf="form.get(control.name).errors.minLength">{{ control.label }} must be at least {{ control.validators.find(v => v.name === 'minLength').value }} characters long.</div>
        <div *ngIf="form.get(control.name).errors.maxLength">{{ control.label }} must be no more than {{ control.validators.find(v => v.name === 'maxLength').value }} characters long.</div>
        <!-- add more error messages as needed -->
      </div>
    </div>
  </form>
  