<section class="d-flex justify-content-between">
    <section>
        <h1 class="mt-3 mb-3">Time Tables ({{rows.length}})</h1>
    </section>
    <section>
        <button class="btn btn-primary mt-4" routerLink="/time-table/new"><i class="bi bi-person-plus-fill"></i> Add
            New</button>
    </section>
</section>
<section *ngIf="isLoading == true">
    <img src="../../../../../assets/loader.gif" alt="" width="50px">
</section>
<section *ngIf="isLoading == false">
    <core-table [eventLabel]="eventLabel" [title]="'Time Tables'" [headers]="headers" [rows]="rows" [BACKUP]="rows"
        [filters]="filters">
    </core-table>
</section>