<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="{{ route }}">{{ appLogo }} {{ appName }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" *ngFor="let l of leftSideLinks">
                <a *ngIf="l.isAnchor == true" 
                    class="nav-link" 
                    aria-current="page" 
                    routerLinkActive="active" 
                    routerLink="{{ l.routerLink }}">
                    {{ l.icon }} {{ i.title }}
                </a>
                <input 
                    *ngIf="l.isInput == true"
                    type="text" 
                    placeholder="{{ l.title }}" 
                    class="form-control"
                    (keyup)=""
                />

                <a 
                    *ngIf="l.isDropDown == true" 
                    class="nav-link dropdown-toggle" 
                    routerLinkActive="active" 
                    id="navbarDropdown" 
                    role="button" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li *ngFor="let o of dropDownOptions"><a class="dropdown-item" routerLink="{{ o.routerLink }}">{{ o.key }}</a></li>
                  </ul>
            </li>
        </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item" *ngFor="let l of rightSideLinks">
                <a *ngIf="l.isAnchor == true" 
                    class="nav-link" 
                    aria-current="page" 
                    routerLinkActive="active" 
                    routerLink="{{ l.routerLink }}">
                    {{ l.icon }} {{ i.title }}
                </a>
                <input 
                    *ngIf="l.isInput == true"
                    type="text" 
                    placeholder="{{ l.title }}" 
                    class="form-control"
                    (keyup)=""
                />

                <a 
                    *ngIf="l.isDropDown == true" 
                    class="nav-link dropdown-toggle" 
                    routerLinkActive="active" 
                    id="navbarDropdown" 
                    role="button" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li *ngFor="let o of dropDownOptions"><a class="dropdown-item" routerLink="{{ o.routerLink }}">{{ o.key }}</a></li>
                  </ul>
            </li>
          </ul>
      </div>
    </div>
  </nav>