<br />
<a class="mt-4" routerLink="/student/enrollments">Go Back</a>
<h1 class="mt-4 mb-4">Student Enrollment Details</h1>
<table class="table">
    <thead class="table-primary">
        <tr>
            <th colspan="5">Enrollment info</th>
            <th colspan="1">Grade Info</th>
            <th colspan="8">Student Info</th>
            <th></th>
        </tr>
    </thead>
    <thead class="table-primary">
        <tr>
            <th>Id</th>
            <th>Student Id</th>
            <th>Grade Id</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Grade Name</th>
            <th>Student Name</th>
            <th>Student CNIC</th>
            <th>Student Father Name</th>
            <th>Student Father CNIC</th>
            <th>Post Office</th>
            <th>Tehsil</th>
            <th>District</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ enrollment?.id }}</td>
            <td>{{ enrollment?.student_id }}</td>
            <td>{{ enrollment?.grade_id }}</td>
            <td>{{ enrollment?.status }}</td>
            <td>{{ enrollment?.created_at }}</td>
            <td>{{ enrollment?.updated_at }}</td>
            
            <td>{{ enrollment?.grade_name }}</td>
            <td>{{ enrollment?.student?.first_name }} {{ enrollment?.student?.last_name }}</td>
            <td>{{ enrollment?.student?.cnic }}</td>
            <td>{{ enrollment?.student?.father_name }}</td>
            <td>{{ enrollment?.student?.father_cnic }}</td>
            <td>{{ enrollment?.student?.post_office }}</td>
            <td>{{ enrollment?.student?.tehsil }}</td>
            <td>{{ enrollment?.student?.district }}</td>
            <td>
                <table>
                    <tr>
                        <td>
                            <button class="ms-2 btn btn-danger btn-sm" (click)="deleteEnrollment()"><i
                                    class="bi bi-person-x"></i> Delete Record</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>